@import url(./fonts.css);
@import url(./header.css);

:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Bebas", sans-serif;
}

:root {
  --primary-color: ;
  --text-color: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  background-color: rgb(151, 148, 153);
  color: var(--text-color);
}
