<section class="our_brands">
  <div class="container">
    <h2 class="our_brands_title">Наши торговые марки</h2>
    <ul class="our_brands_list">
      <li class="our_brands_list_item">
        <a href="#" class="our_brands_list_item_link">
          <picture>
            <source
              srcset="./images/img/brands/brand1.avif"
              type="image/avif"
            />

            <source
              srcset="./images/img/brands/brand1.webp"
              type="image/webp"
            />

            <img
              class="our_brands_list_item_img"
              src="./images/img/brands/brand1.png"
              alt="brand_img"
            />
          </picture>
          <p class="our_brands_list_item_name">Бомба слайм</p>
        </a>
      </li>
      <li class="our_brands_list_item">
        <a href="#" class="our_brands_list_item_link">
          <picture>
            <source
              srcset="./images/img/brands/brand2.avif"
              type="image/avif"
            />

            <source
              srcset="./images/img/brands/brand2.webp"
              type="image/webp"
            />

            <img
              class="our_brands_list_item_img"
              src="./images/img/brands/brand2.png"
              alt="brand_img"
            />
          </picture>
          <p class="our_brands_list_item_name">Научно нескучно</p>
        </a>
      </li>
      <li class="our_brands_list_item">
        <a href="#" class="our_brands_list_item_link">
          <picture>
            <source
              srcset="./images/img/brands/brand3.avif"
              type="image/avif"
            />

            <source
              srcset="./images/img/brands/brand3.webp"
              type="image/webp"
            />

            <img
              class="our_brands_list_item_img"
              src="./images/img/brands/brand3.png"
              alt="brand_img"
            />
          </picture>
          <p class="our_brands_list_item_name">EASY BEADS</p>
        </a>
      </li>
      <li class="our_brands_list_item">
        <a href="#" class="our_brands_list_item_link">
          <picture>
            <source
              srcset="./images/img/brands/brand4.avif"
              type="image/avif"
            />

            <source
              srcset="./images/img/brands/brand4.webp"
              type="image/webp"
            />

            <img
              class="our_brands_list_item_img"
              src="./images/img/brands/brand4.png"
              alt="brand_img"
            />
          </picture>
          <p class="our_brands_list_item_name">Magical crystal</p>
        </a>
      </li>
    </ul>
  </div>
</section>
