<section class="hero">
  <div class="container">
    <div class="hero_slider">
      <div class="slider">
        <input type="radio" name="slider" id="switch1" checked />
        <input type="radio" name="slider" id="switch2" />
        <input type="radio" name="slider" id="switch3" />
        <input type="radio" name="slider" id="switch4" />
        <input type="radio" name="slider" id="switch5" />
        <input type="radio" name="slider" id="switch6" />
        <div class="slides">
          <div class="overflow">
            <div class="slider-inner">
              <div class="slide">
                <picture>
                  <source
                    srcset="./images/img/Banner/Banner_1_310Х150.avif"
                    type="image/avif"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_1_660Х270.avif"
                    type="image/avif"
                    media="(max-width: 900px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_1_1140Х350.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_1_310Х150.webp"
                    type="image/webp"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_1_660Х270.webp"
                    type="image/webp"
                    media="(max-width: 900px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_1_1140Х350.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_1_310Х150.png"
                    type="image/png"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_1_660Х270.png"
                    type="image/png"
                    media="(max-width: 900px)"
                  />

                  <img
                    src="./images/img/Banner/Banner_1_1140Х350.png"
                    alt="banner_img"
                  />
                </picture>
              </div>
              <div class="slide">
                <picture>
                  <source
                    srcset="./images/img/Banner/Banner_2_310Х150.avif"
                    type="image/avif"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_2_660Х270.avif"
                    type="image/avif"
                    media="(max-width: 900px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_2_1140Х350.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_2_310Х150.webp"
                    type="image/webp"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_2_660Х270.webp"
                    type="image/webp"
                    media="(max-width: 900px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_2_1140Х350.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_2_310Х150.png"
                    type="image/png"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_2_660Х270.png"
                    type="image/png"
                    media="(max-width: 900px)"
                  />

                  <img
                    src="./images/img/Banner/Banner_2_1140Х350.png"
                    alt="banner_img"
                  />
                </picture>
              </div>
              <div class="slide">
                <picture>
                  <source
                    srcset="./images/img/Banner/Banner_3_310Х150.avif"
                    type="image/avif"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_3_660Х270.avif"
                    type="image/avif"
                    media="(max-width: 900px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_3_1140Х350.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_3_310Х150.webp"
                    type="image/webp"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_3_660Х270.webp"
                    type="image/webp"
                    media="(max-width: 900px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_3_1140Х350.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_3_310Х150.png"
                    type="image/png"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_3_660Х270.png"
                    type="image/png"
                    media="(max-width: 900px)"
                  />

                  <img
                    src="./images/img/Banner/Banner_3_1140Х350.png"
                    alt="banner_img"
                  />
                </picture>
              </div>
              <div class="slide">
                <picture>
                  <source
                    srcset="./images/img/Banner/Banner_4_310Х150.avif"
                    type="image/avif"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_4_660Х270.avif"
                    type="image/avif"
                    media="(max-width: 900px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_4_1140Х350.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_4_310Х150.webp"
                    type="image/webp"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_4_660Х270.webp"
                    type="image/webp"
                    media="(max-width: 900px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_4_1140Х350.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_4_310Х150.png"
                    type="image/png"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_4_660Х270.png"
                    type="image/png"
                    media="(max-width: 900px)"
                  />

                  <img
                    src="./images/img/Banner/Banner_4_1140Х350.png"
                    alt="banner_img"
                  />
                </picture>
              </div>
              <div class="slide">
                <picture>
                  <source
                    srcset="./images/img/Banner/Banner_5_310Х150.avif"
                    type="image/avif"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_5_660Х270.avif"
                    type="image/avif"
                    media="(max-width: 900px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_5_1140Х350.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_5_310Х150.webp"
                    type="image/webp"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_5_660Х270.webp"
                    type="image/webp"
                    media="(max-width: 900px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_5_1140Х350.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_5_310Х150.png"
                    type="image/png"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_5_660Х270.png"
                    type="image/png"
                    media="(max-width: 900px)"
                  />

                  <img
                    src="./images/img/Banner/Banner_5_1140Х350.png"
                    alt="banner_img"
                  />
                </picture>
              </div>
              <div class="slide">
                <picture>
                  <source
                    srcset="./images/img/Banner/Banner_6_310Х150.avif"
                    type="image/avif"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_6_660Х270.avif"
                    type="image/avif"
                    media="(max-width: 900px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_6_1140Х350.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_6_310Х150.webp"
                    type="image/webp"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_6_660Х270.webp"
                    type="image/webp"
                    media="(max-width: 900px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_6_1140Х350.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_6_310Х150.png"
                    type="image/png"
                    media="(max-width: 576px)"
                  />
                  <source
                    srcset="./images/img/Banner/Banner_6_660Х270.png"
                    type="image/png"
                    media="(max-width: 900px)"
                  />

                  <img
                    src="./images/img/Banner/Banner_6_1140Х350.png"
                    alt="banner_img"
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>
        <div class="arrows">
          <label for="switch1"></label>
          <label for="switch2"></label>
          <label for="switch3"></label>
          <label for="switch4"></label>
          <label for="switch5"></label>
          <label for="switch6"></label>
        </div>
        <div class="dots">
          <label for="switch1"></label>
          <label for="switch2"></label>
          <label for="switch3"></label>
          <label for="switch4"></label>
          <label for="switch5"></label>
          <label for="switch6"></label>
        </div>
      </div>
    </div>
  </div>
</section>
