<section class="sec_slider">
  <div class="container">
    <div class="carousel_wrapper">
      <div class="carousel">
        <a href="#" class="item">
          <picture>
            <source
              srcset="./images/img/slider/slide1.avif"
              type="image/avif"
            />

            <source
              srcset="./images/img/slider/slide1.webp"
              type="image/webp"
            />

            <img src="./images/img/slider/slide1.png" alt="slide_img" />
          </picture>
          <p class="slider_item_text">
            Предложение для оптовиков, СП и дистрибьюторов
          </p>
        </a>
        <a href="#" class="item">
          <picture>
            <source
              srcset="./images/img/slider/slide2.avif"
              type="image/avif"
            />

            <source
              srcset="./images/img/slider/slide2.webp"
              type="image/webp"
            />

            <img src="./images/img/slider/slide2.png" alt="slide_img" />
          </picture>
          <p class="slider_item_text">Предложение для родительских комитетов</p>
        </a>
        <a href="#" class="item">
          <picture>
            <source
              srcset="./images/img/slider/slide3.avif"
              type="image/avif"
            />

            <source
              srcset="./images/img/slider/slide3.webp"
              type="image/webp"
            />

            <img src="./images/img/slider/slide3.png" alt="slide_img" />
          </picture>
          <p class="slider_item_text">Большая семья</p>
        </a>
        <a href="#" class="item">
          <picture>
            <source
              srcset="./images/img/slider/slide4.avif"
              type="image/avif"
            />

            <source
              srcset="./images/img/slider/slide4.webp"
              type="image/webp"
            />

            <img src="./images/img/slider/slide4.png" alt="slide_img" />
          </picture>
          <p class="slider_item_text">Предложение для родительских комитетов</p>
        </a>

        <a href="#" class="item">
          <picture>
            <source
              srcset="./images/img/slider/slide1.avif"
              type="image/avif"
            />

            <source
              srcset="./images/img/slider/slide1.webp"
              type="image/webp"
            />

            <img src="./images/img/slider/slide1.png" alt="slide_img" />
          </picture>
          <p class="slider_item_text">
            Предложение для оптовиков, СП и дистрибьюторов
          </p>
        </a>
        <a href="#" class="item">
          <picture>
            <source
              srcset="./images/img/slider/slide2.avif"
              type="image/avif"
            />

            <source
              srcset="./images/img/slider/slide2.webp"
              type="image/webp"
            />

            <img src="./images/img/slider/slide2.png" alt="slide_img" />
          </picture>
          <p class="slider_item_text">Предложение для родительских комитетов</p>
        </a>
        <a href="#" class="item">
          <picture>
            <source
              srcset="./images/img/slider/slide3.avif"
              type="image/avif"
            />

            <source
              srcset="./images/img/slider/slide3.webp"
              type="image/webp"
            />

            <img src="./images/img/slider/slide3.png" alt="slide_img" />
          </picture>
          <p class="slider_item_text">Большая семья</p>
        </a>
        <a href="#" class="item">
          <picture>
            <source
              srcset="./images/img/slider/slide4.avif"
              type="image/avif"
            />

            <source
              srcset="./images/img/slider/slide4.webp"
              type="image/webp"
            />

            <img src="./images/img/slider/slide4.png" alt="slide_img" />
          </picture>
          <p class="slider_item_text">Предложение для родительских комитетов</p>
        </a>
      </div>
    </div>
  </div>
</section>
