<section class="sect_slime">
  <div class="container">
    <div class="sect_slime_header">
      <div class="sect_slime_content">
        <h2 class="sect_slime_content_title">Слаймы</h2>
        <p class="sect_slime_content_text">
          Игрушка-антистресс, представляющая собой пластичную, хорошо тянущуюся,
          одновременно клейкую и сохраняющую своё единство массу. Малышам
          помогает развить моторику.
        </p>
      </div>
      <a href="#" class="show_all_slime_text">Показать все товары</a>
    </div>
    <div class="sect_slime_container">
      <ul class="sect_slime_list">
        <li class="sect_slime_list_item">
          <a href="#" class="sect_slime_list_item_link">
            <picture>
              <source
                srcset="./images/img/slimes/slime1-min.avif"
                type="image/avif"
              />

              <source
                srcset="./images/img/slimes/slime1-min.webp"
                type="image/webp"
              />

              <img
                src="./images/img/slimes/slime1-min.png"
                alt="slime_img"
                class="sect_slime_list_item_img"
              />
            </picture>
            <div class="slime_info">
              <p class="slime_text">
                Слайм большой набор для девочек (добавки шармики посыпки блёстки
                баночки) сделай сам лизун подарок
              </p>
              <div class="price_content">
                <p class="price">10 249 ₽/опт</p>
                <p class="price_old">1 215 ₽</p>
                <a href="#" class="price_link">
                  <img
                    src="./images/img/slimes/price_info_icon.svg"
                    alt=""
                    class="price_img_icon"
                  />
                </a>
              </div>
              <p class="post_text1">
                В боксе 288 наборов. Китай, 5 см х 5.5 см х 7.5 см, пластик,
                полимер. Арт.: 4433113
              </p>
              <p class="post_text2">288 наборов в коробе</p>
              <div class="basket_block">
                <button class="basket_btn">В корзину</button>
                <p class="basket_text">По 1 коробу</p>
              </div>
            </div>
          </a>
        </li>
        <li class="sect_slime_list_item">
          <a href="#" class="sect_slime_list_item_link">
            <picture>
              <source
                srcset="./images/img/slimes/slime2-min.avif"
                type="image/avif"
              />

              <source
                srcset="./images/img/slimes/slime2-min.webp"
                type="image/webp"
              />

              <img
                src="./images/img/slimes/slime2-min.png"
                alt="slime_img"
                class="sect_slime_list_item_img"
              />
            </picture>
            <div class="slime_info">
              <p class="slime_text">
                Набор «Слим с блестками и глазками своими руками», цвета МИКС
              </p>
              <div class="price_content">
                <p class="price">6 049 ₽/опт</p>
                <p class="price_old"></p>
                <a href="#" class="price_link">
                  <img
                    src="./images/img/slimes/price_info_icon.svg"
                    alt=""
                    class="price_img_icon"
                  />
                </a>
              </div>
              <p class="post_text1">
                В боксе 288 наборов. Китай, 5 см х 5.5 см х 7.5 см, пластик,
                полимер. Арт.: 4433113
              </p>
              <p class="post_text2">288 наборов в коробе</p>
              <div class="basket_block">
                <button class="basket_btn">В корзину</button>
                <p class="basket_text">По 1 коробу</p>
              </div>
            </div>
          </a>
        </li>
        <li class="sect_slime_list_item">
          <a href="#" class="sect_slime_list_item_link">
            <picture>
              <source
                srcset="./images/img/slimes/slime3-min.avif"
                type="image/avif"
              />

              <source
                srcset="./images/img/slimes/slime3-min.webp"
                type="image/webp"
              />

              <img
                src="./images/img/slimes/slime3-min.png"
                alt="slime_img"
                class="sect_slime_list_item_img"
              />
            </picture>
            <div class="slime_info">
              <p class="slime_text">
                Слайм большой набор для девочек (добавки шармики посыпки блёстки
                баночки) сделай сам лизун подарок
              </p>
              <div class="price_content">
                <p class="price">10 249 ₽/опт</p>
                <p class="price_old">1 215 ₽</p>
                <a href="#" class="price_link">
                  <img
                    src="./images/img/slimes/price_info_icon.svg"
                    alt=""
                    class="price_img_icon"
                  />
                </a>
              </div>
              <p class="post_text1">
                В боксе 288 наборов. Китай, 5 см х 5.5 см х 7.5 см, пластик,
                полимер. Арт.: 4433113
              </p>
              <p class="post_text2">288 наборов в коробе</p>
              <div class="basket_block">
                <button class="basket_btn">В корзину</button>
                <p class="basket_text">По 1 коробу</p>
              </div>
            </div>
          </a>
        </li>
        <li class="sect_slime_list_item">
          <a href="#" class="sect_slime_list_item_link">
            <picture>
              <source
                srcset="./images/img/slimes/slime4-min.avif"
                type="image/avif"
              />

              <source
                srcset="./images/img/slimes/slime4-min.webp"
                type="image/webp"
              />

              <img
                src="./images/img/slimes/slime4-min.png"
                alt="slime_img"
                class="sect_slime_list_item_img"
              />
            </picture>
            <div class="slime_info">
              <p class="slime_text">
                Слаймы набор для опытов сделай сам набор слаймов для девочек
                развивающий набор для творчества
              </p>
              <div class="price_content">
                <p class="price">1 049 ₽/опт</p>
                <p class="price_old">1 215 ₽</p>
                <a href="#" class="price_link">
                  <img
                    src="./images/img/slimes/price_info_icon.svg"
                    alt=""
                    class="price_img_icon"
                  />
                </a>
              </div>
              <p class="post_text1">
                В боксе 288 наборов. Китай, 5 см х 5.5 см х 7.5 см, пластик,
                полимер. Арт.: 4433113
              </p>
              <p class="post_text2">288 наборов в коробе</p>
              <div class="basket_block">
                <button class="basket_btn">В корзину</button>
                <p class="basket_text">По 1 коробу</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
